<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<title>Edit Event</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>

<body>
    <div>
        <h1>{{request.session.greeting}}, you are on the edit page</h1>
        <br><a href="/logout">Logout</a> | <a href="/events">Go Back</a>
    </div>
    <div>
        <form action="/process_edit/{{edit_event.id}}" method=POST>
            {% csrf_token %}
            <p>Event/Location</p>
            <input type="text" name="name" placeholder="{{edit_event.name}}">
            <p>Description</p>
            <input type="text" name="description" placeholder="{{edit_event.description}}">
            <p>Attendees</p>
            <input type="number" name="attendees" placeholder="{{edit_event.attendees}}">
            <p>Dates</p>
            <input type="date" name="date" placeholder="{{edit_event.date}}">
            <input type="submit" value="Edit">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>