<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
</head>

<body>
    <div class="main_content">
        <h1>Event {{event.name}}</h1>
        <table>
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Attendees</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td>{{event.name}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.attendees}}</td>
                    <td>{{event.date }}</td>
                </tr>
            </tbody>
        </table>
        <a href="/events" role="button">Go Back</a>
    </div>
</body>

</html>