<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'events.css' %}">
</head>

<body>
    <div id="header">
        <h1>Hello {{user.first_name}}!</h1>
        <a href="/logout">Logout</a><br>
        <a href="/events/new"> Make an event!</a>
    </div>
        
    </div>
    <div class="container">
        <h1>Your event list:</h1>
        <table>
            <tbody>
            <tr>
                <th>Name</th>
                <th>Attendees</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            {% for event in all_events %}
            {% if event.creator.id == request.session.user_id %}
            {% if event.join == False %}
            <tr>
                <td><a href="/events/{{ event.id}}"><h3>{{event.name}}</h3></a></td>
                <td>{{event.attendees }}</td>
                <td>{{event.date }}</td>
                <td>
                    <a href="/events/delete/{{event.id}}">Remove</a>
                    <a href="/events/edit/{{event.id}}">Edit</a>
                    <a href="/events/join/{{event.id}}">Join</a>
                </td>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="container">
        <h1>Future events:</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Creator</th>
                <th>Attendees</th>
                <th>Date</th>
            </tr>
            {% for event in all_events %}
            {% if event.join == True %}
            <tr>
                <td>{{event.name}}</td>
                <td>{{event.creator.first_name}} {{event.creator.last_name}}</td>
                <td>{{event.attendees}}</td>
                <td>{{event.date }}</td>
                <!-- <td>
                    <p>Likes: {{event.likes.count}}</p>
                </td>
                <td>
                    <a href="/events/{{event.id}}/like">Like</a>
                    <a href="/events/{{event.id}}/unliklike">Unlike</a>
                </td> -->
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</body>

</html>